<header class="hero-unit" id="banner" ng-hide="true">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Tracking my Car</h1>
      <p>This map uses a Bing source. You must request an API key to use these maps <a href="http://www.bingmapsportal.com">here</a>.</p>

      <ul>
          <li style="display: inline" ng-repeat="imagerySet in [ 'AerialWithLabels','Road' ]">
              <button ng-click="bing.source.imagerySet=imagerySet" class="btn btn-default" ng-bind="imagerySet"></button>
          </li>
      </ul>
    </div>
    <div class="col-lg-12">
      <openlayers ol-center="center" height="400px" width="100%">
          <ol-layer ol-layer-properties="bing"></ol-layer>
      </openlayers>
      
    </div>
  </div>
  
</div>
